*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}
hr{
  border: 1px solid black;
  margin: 30px 0;
}

.background-header{
  margin-top: 90px;
}

.contact-header{
  margin-top: 90px;
}

.project-header{
  margin-top: 70px;
}

#about-trans{
  transition-timing-function: linear;
  transition-duration: 1s;
}

/* LANDING SECTION CSS */
.jumbotron{
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0;
}

.landing-section{
  background-image: url(../images/bg1.jpg);
  color: white;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-section .profile-pic{
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-bottom: 24px;
  margin-top: 150px;
}

.landing-section .jumbotron{
  text-align: center;
}

.landing-section .social-icons a{
  color: white;
}

.landing-section .see-more{
  color: white;
  text-decoration: none;
  position: relative;
  top: 170px;
  opacity: 50%;
  font-size: medium;
}

.landing-section .see-more:hover{
  opacity: 1;
}

.landing-section .down-img{
  height: 50px;
}

/* NAV CSS */
nav .nav-link{
  text-decoration: none;
  color: white;
}

nav #web-logo-home{
  height: 40px;
  width: 40px;
}

/* ABOUT ME CSS */
.about-section #profile-picture {
  height: 74vh;
  width: 100%;
  background-image: url("../images/meme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}

.about-section .tech-icons li{
  display: inline-block;
}

.about-section .tech-icons img{
  margin: 2px;
  width: 40px;
  height: 40px;
}

.about-section .tech-icons #node-img{
  width: 70px;
}

.about-section .about-info{
  line-height: 1.8;
  letter-spacing: 0.9px;
}

/* BACKGROUND CSS */
.background-section p{
  line-height: 1.8;
  letter-spacing: 0.9px;
}

.background-section span{
  margin-right: 14px;
}

/* PROJECT CSS */
.project-section .card{
  overflow: auto;
  height: 241px;
}

.project-section .flip-card{
  position: relative;
}

.project-section #card-back .card-img-1{
  background-image: url("../images/projects/caps1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-right: 1px solid grey;
  height:238px;
  width: 100%;
}

.project-section #card-back .card-img-2{
  background-image: url("../images/projects/caps2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-right: 1px solid grey;
  height:238px;
  width: 100%;
}

.project-section #card-back .card-img-3{
  background-image: url("../images/projects/caps3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-right: 1px solid grey;
  height:238px;
  width: 100%;
}

.project-section #card-front{
  position: absolute;
}

.project-section #card-back{
  transform: rotateX(90deg);
}

.project-section .flip-card:hover #card-front{
  animation: flip 0.2s ease-in forwards;
}

.project-section .flip-card:hover #card-back{
  animation: flip 0.2s 0.2s ease-out forwards reverse;
}

/* PROJECT ANIMATION CSS*/
@keyframes flip {

  0%{ transform: rotateX(0deg);} 
  100%{ transform: rotateX(90deg);}
  
}

/* CONTACT CSS */
.contact-section iframe{
  width: 100%;
  height: 100%;
}

/* FOOTER CSS */
.footer footer{
  height: 8vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}





